.menu{
    background: #F3E4E1;
    display: flex;
    flex-direction: column;
}
.menu__text{
    display: flex;
    flex-direction: column;
}
.menu_titles{
    display: flex;
    width: 100%;
}
.menu__img{
    width: 3rem;
}