/* 

Main font

font-family: 'PT Serif', serif;
font-weight: 700;

Logo

font-family: 'Rufina', serif;
font-weight: 700;


Brödtext - Landingpage

font-family: 'Work Sans', sans-serif;
font-weight: 400;


Brödtext - About

font-family: 'Work Sans', sans-serif;
font-weight: 600;
x

*/

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
