* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

#root {
  margin: 0 auto;
}

.button {
  width: 184px;
  height: 55px;
  left: 98px;
  top: 530px;
  background: #FFFFFF;
  border-radius: 50px;
  margin: 4.3rem auto;
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  border: none;
}