.statusBody {
    background: #E5674E;
    min-width: 375px;
    min-height: 667px;
    text-align: center;
    color: #ffffff;
    display: flex;
    justify-content: center;
}
.satus__content {
    width: 375px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.status__text {
    margin: 3.8rem auto 3rem;
}
.status__img {
    width: 70%;
    margin: auto;
}
.status__title {
    width: 279px;
    font-size: 36px;
    margin: 2.5rem auto 2rem;
}
.status__btn {
    width: 184px;
    height: 55px;
    left: 98px;
    top: 530px;
    background: #FFFFFF;
    border-radius: 50px;
    margin: 4.3rem auto;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    border: none;
}