.cart{
   
}
.cart-heading{
    font-family: PT Serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    margin-top:2rem;
   
}
.cart-total{
    font-family: PT Serif;
    font-size: 23px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom:0.5rem;
    display: flex;
}
.cart-products-text{
    font-family: PT Serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 1rem;
    margin-top:2rem;
}
.cart-total-price{

}
.cart-total-container{
    display: flex;

}
.cart-dot{
    border-bottom: 2px dotted rgba(0, 0, 0, 0.434);
    width: 140px;
}

.cart-moms-text{
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #2F2926;

}
.cart-square{
    width: 341px;
    height: 565.77px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    border: 1px solid black;
}
.cart-product-price{
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #2F2926;
    margin-left: 1rem;
    margin-top:0.5rem;
}
.cart-triangle{
    width: 0; 
    height: 0; 
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;  
    border-bottom: 16px solid rgb(0, 0, 0); 
    margin-right:1rem;
}
.cart-triangle-container{
    width:100%;
    display: flex;
    align-items: right;
    justify-content: right;
}
.button__cart{
    background-color: black;
    color: white;
    width:248px;
}
.cart-container-bottom{
    display: flex;
    flex-direction: column;
    padding:2rem;
    margin-top:6rem;
}