.IconBox{
    width: 60px;
    height: 60px;
    background: rgba(47, 41, 38, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 14rem;
}
.IconBox__number{
    background: rgba(229, 103, 78, 1);
    border-radius: 50%;
    position: absolute;
    top: 0 ;
    right: 4px;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
