.menu{
    background: #F3E4E1;
     min-width: 375px;
     position: relative;
}
.menuHeader{
    display: flex;
    justify-content: center;
    font-size: 2.625rem;
    font-family: 'PT Serif', serif;

}