.about-article {
    min-width: 375px;
    min-height: 1061px;
    background-color: #F3E4E1;
}

.about-section {
    max-width: 375px;
    min-height: 830px;
    margin: 2rem;
    text-align: left;
}

.about-heading {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 120%;
    color: #2F2926;
    margin-bottom: 2rem;
}

.about-subheading {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    color: #2F2926;
    margin-bottom: 1rem;
}

.about-paragraph {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    color: #2F2926;
    margin-bottom: 1rem;
}

.about-aside {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.persona {
    border-radius: 50%;
}

.about-name {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;
    text-align: center;
    color: #2F2926;
}

.about-work {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    text-align: center;
    color: #2F2926;
}